{% extends 'student_home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_menu %}
<!-- Главное меню -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="{% static 'images/logl.jpg' %}"></a>
    <button class="navbar-toggler" type="button"
     data-toggle="collapse" data-target="#navbarResponsive">
     <span class="navbar-toggler-icon"></span>
     </button>
     <form class="form-inline mr-auto" method="get" action="{%url 'search_vacancy'%}">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Search vacancy"  name = 'search_word' aria-label="Search">
        <i class="fas fa-search text-black ml-3" aria-hidden="true"></i>
      </div>
    </form>
     <div class="collapse navbar-collapse" id="navbarResponsive">

    <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href="{% url 'student_home'%}" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="{% url 'get_resume_student'%}" class="nav-link">Resume</a></li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Help<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'get_answers'%}" class="nav-link">FAQ</a></li>
        <li><a href="{% url 'feedback'%}" class="nav-link">Feedback</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">{{request.user}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="nav-link">Settings</a></li>
        <li><a href="{% url 'edit_student'%}" class="nav-link active">Edit profile</a></li>
        <hr>
        <li><a href="{% url 'logout'%}" class="nav-link">Logout</a></li>
      </ul>
    </li>
    <!-- <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Logout</a></li> -->
     </ul>
    </div>
</nav>
</nav>
{% endblock %}
{% block main %}
{% if saved %}
  <div class="alert alert-success" role="alert">
    <strong>Данные</strong> сохранены успешно!
  </div>
{% endif %}
<div class="container">
 <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2>Edit profile</h2>
        {% if profile %}
        <br>
        <form method="POST" action="{% url 'edit_student_profile' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Student ID</label>
            <div class="col-sm-10">
              {{profile.student_id}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-10">
              {{profile.course}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Speciality</label>
            <div class="col-sm-10">
              {{profile.speciality}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              {{profile.phone}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
            <button type="submit" class="btn btn-warning btn-lg btn-block">Save</button>
          </div>
        </form>

        {% endif %}

    </div>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
<div class="container">
 <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form method="POST" action="{% url 'edit_student_user' %}">
          {% csrf_token %}
          <h2>Edit user specifications</h2>
          <br>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              {{form.first_name}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
              {{form.last_name}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">Old password</label>
            <div class="col-sm-10">
              {{form.old_password}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date-input" class="col-sm-2 col-form-label">New password</label>
            <div class="col-sm-10">
              {{form.password}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
            <button type="submit" class="btn btn-warning btn-lg btn-block">Save</button>
          </div>
        </div>
        </form>
  </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
